<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="user_nav">
 
  
    <%= link_to "Sign up", sign_up_path %> or
    <%= link_to "log in", log_in_path %>
  
</div>




<%= yield %>

</body>
</html>
